
.font-concert-one {
    font-family: 'Concert One', sans-serif;
    /*font-family: 'Oswald', sans-serif;*/
}
.font-agbalumo {
    font-family: 'Agbalumo',sans-serif;
}

header nav li:hover{
    color: whitesmoke;
    background-color: var(--primary-color);
    border-radius: 25px;
    cursor: pointer;
}
header nav li{
    font-family: 'Concert One', sans-serif;
    color: var(--primary-color);
    padding: 10px;
}

#myMap div{
    /*background-color: #f64b40;*/
    border-radius: 10px;
}
#myMapDirection{
    /*background-color: #f64b40;*/
    width: 600px !important;
    height: 300px !important;;
}
.scroll-pane {
    scrollbar-color: #4a5568 red;
}
.scroll-pane::-webkit-scrollbar {
    width: 5px; /* Adjust the width as needed */
    height: 10px;
}

.scroll-pane::-webkit-scrollbar-thumb {
    background-color: gainsboro;
    border-radius: 10px;
    height: 5px;
}

.scroll-pane::-webkit-scrollbar-track {
    background-color: transparent; /* Adjust the color as needed */
    height: 5px;
}

.custom-number-input {
    -moz-appearance: textfield; /* Firefox */
}

/* remove input number arrows */
.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.progress span{
    width: 25px;
    height: 25px;
}
.css-1o8dslu{
    height: 28px;
}